<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978172425755-vcvs8g69vifa7d4bt5pglj85om4eqhgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978172425755-vcvs8g69vifa7d4bt5pglj85om4eqhgf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978172425755-4eu4p35cmkqu55oovc9jrrjbkb4jadqk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEo9874CSnp6R4lvNYt58ZsZjX5V85t4k</string>
	<key>GCM_SENDER_ID</key>
	<string>978172425755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.communityappFirebase</string>
	<key>PROJECT_ID</key>
	<string>communityapp-218bf</string>
	<key>STORAGE_BUCKET</key>
	<string>communityapp-218bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978172425755:ios:66202354e14e3f07602abe</string>
</dict>
</plist>